{{template "header"}}
<h1>Setup a game now! :)</h1>

<div id="init-game-form">
    <form onsubmit="return createGame(event)">
        <div class="input-container">
            <label for="host-name">Your name:</label><br>
            <input type="text" id="host-name" name="player-name"><br>

            <select name="subject-name" id="subject-name">
                <option selected>Select a Quiz Subject</option>
                {{range .}}
                <option class="myoption" value="{{.Name}}">{{.Name}}</option>
                {{end}}
            </select><br>
            <label for="question-amount">Amount of questions:</label><br>
            <input type="number" id="question-amount" name="question-amount" min="1" max="40" placeholder="20">
        </div>
        <button>Lets go!</button>
    </form>
    <a class="backbtn" href="/">Go Back</a>
</div>

<section id="init-section">
    <p>The game has been created, you can invite players by telling of sending them this quiz code:</p>
    <h2 id="quiz-slug"></h2>
    <a id="to-quiz-link" href="/game/">Start quizzin</a>
</section>



<script type="text/javascript" src="assets/gamecreator.js"></script>

{{template "footer"}}
