{{template "header"}}

<h5>Quiz code = {{.}}</h5>


<form id="answer-submit-form">
    <div id="input-section">
    </div>
    <input id="submit-answer-btn" type="submit">
</form>

<p id="waiting-room"></p>

<div id="host-section">
    <hr>
    <i>Quiz Host Panel</i>
    <p>Current question:</p>
    <h1 id="question-body"></h1>
    <p>Correct answer:</p>
    <p id="correct-answer"></p>
    
    <i>Result to this question</i>
    <p id="current-question-result"></p>
    <i>subtotals:</i>
    <p id="subtotals"></p>
</div>


<script type="text/javascript" src="/assets/gameroutine.js"></script>
{{template "footer"}}
