{{template "header"}}

<h3>Quiz code = {{.}}</h3>

<img id="question-image" src="" alt="">
<img id="question-image-full" src="" alt="">

<form id="answer-submit-form" autocomplete="off">
    <div id="input-section">
    </div>
    <div id="host-warning-message">
        <p>Once started, others can no longer join.</p>
    </div>
    <input id="submit-answer-btn" type="submit" value="Submit my answer">
</form>

<div id="show-player-result">
    <b id="result-current-question">

    </b>
</div>

<div class="waiting-section">
    <i id="waiting-room-tag-line">Players in lobby:</i>
    <p id="waiting-room"></p>
</div>

<div id="question-counter-display" class="next-question-wrapper"></div>

<div id="host-section">
    <i><b>Quiz Host Panel</b></i><br>
    <u>Current question:</u>
    <h1 id="question-body"></h1>
    <u>Correct answer:</u>
    <p id="correct-answer"></p>
    
    <u>Result to this question</u>
    <p id="current-question-result"></p>
    <u>subtotals:</u>
    <p id="subtotals"></p>
</div>

<div id="quiz-finished">
    <a href="/finished/" id="to-results-link">Go to Results!</a>
</div>

<script type="text/javascript" src="/assets/gameroutine.js"></script>
{{template "footer"}}
