{{template "header"}}

<h3>Quiz code = {{.}}</h3>


<form id="answer-submit-form">
    <div id="input-section">
    </div>
    <div id="host-warning-message">
        <p>Once started, others can no longer join.</p>
    </div>
    <input id="submit-answer-btn" type="submit" value="Submit my answer">
</form>

<div class="waiting-section">
    <i id="yet to answer:"></i>
    <p id="waiting-room"></p>
</div>

<div id="host-section">
    <hr>
    <i>Quiz Host Panel</i>
    <p>Current question:</p>
    <h1 id="question-body"></h1>
    <p>Correct answer:</p>
    <p id="correct-answer"></p>
    
    <i>Result to this question</i>
    <p id="current-question-result"></p>
    <i>subtotals:</i>
    <p id="subtotals"></p>
</div>

<div id="quiz-finished">
    <a href="/finished/" id="to-results-link">Go to Results!</a>
</div>

<script type="text/javascript" src="/assets/gameroutine.js"></script>
{{template "footer"}}
